@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #E91D24;
    --gray: #C5BEBE;
    --bigger: 5rem;
    --big: 2.5rem;
    --normal: 1.25rem;
    --base: 1rem;
    --smaller: 0.625rem;
}

body {
    font-family: 'Lato',sans-serif;
}
